.App {
  text-align: center;
  font-family: Roboto Mono;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Description {
  font-size: 11px;
  max-width: 100%;
  text-align: left;
}

.NavbarDiv {
  background: rgb(108, 194, 185);
  max-width: 100%;
  /* width: 100%; */
  padding: 0px 30px;
  /* margin: 0 auto 20px auto; */
  border: solid;
  border-radius: 10px;
  display: inline-block;
  /* align-items: center; */
  /* align-self: center; */
  /* align-content: center; */
}

.NavbarUL {
  /* background: rgba(0, 0, 0, 0.2); */
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 1rem auto 1.2rem auto;
}

.NavbarUL li a {
  color: white;
  text-decoration: none; 
  font-size: 18px;
  padding: 0 10px;
}

.NavbarUL li a:hover {
  color: #5eaaed;
  text-decoration: underline;
}

.BreadcrumbsUL {
  background: rgb(162, 197, 93, 0.2);
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
}

.Breadcrumbs li {
  background: rgba(124, 146, 124, 0.5);
  display: inline-block;
  padding: 5px;
  font-size: 15px;
}

.Breadcrumbs li a {
  color: white;
  text-decoration: none; 
}

.BreadcrumbsUL li+li::before {
  content: " /\00a0"
}

.Breadcrumbs li a:hover {
  color: #5eaaed;
  text-decoration: underline;
}