.App {
  text-align: center;
  font-family: Roboto Mono;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-Description {
  font-size: 11px;
  max-width: 100%;
  text-align: left;
  padding: 0 10vw 0 10vw;
}

@media screen and (max-width: 768px) {
    .NavbarDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      height: 0;
      width: 0;
      z-index: 999;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
    .NavbarDiv.active {
      height: 100%;
      width: 100px;
    }

    .NavbarUL li a {
      font-size: 3vw;
    }
}

@media screen and (min-width: 768px) {
    button#nav-toggle {
      display: none;
    }
    .NavbarDiv {
      background: rgb(108, 194, 185);
      max-width: 100%;
      padding: 0 10vw;
      border: solid;
      border-radius: 10px;
      display: inline-block;
    }
    .NavbarUL {
      margin: 1vw auto 1.5vw auto;
      display: flex;
    }
    .NavbarUL li a {
      font-size: 1.5vw;
    }
}

.NavbarUL {
  max-width: 100%;
  list-style: none;
  /* display: flex; */
  justify-content: space-between;
  padding: 0;
  /* margin: 1vw auto 1.5vw auto; */
}

.NavbarUL li a {
  color: white;
  text-decoration: none; 
  /* font-size: 2.5vw; */
  padding: 0 10px;
}

.NavbarUL li a:hover {
  color: #5eaaed;
  text-decoration: underline;
}

.Breadcrumbs {
  list-style: none;
  text-align: center;
  padding-inline-start: 0;
  font-size: 15px;
  padding: 20px;
}

.Breadcrumbs a {
  color: white;
  text-decoration: none;
}